/**
 * Lists CSS Stylesheet
 */





ul,
ol,
li {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	line-height: 1.25;
	font-weight: 400
}

ul,
ol {
	margin: 0 0 1.5rem;
	list-style-position: inside
}





@media all and (min-width: 35em) {
	
}